*{
    padding: 0;
    margin: 0;
}
body{
    background: #080e16e4;
}
.container{
    width: 1296px;
    margin: 0 auto;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    margin-top: 50px;
}
.menu-elem .logo{
    font-size: 50px;
}
.menu-elem p{
    margin: 15px 0;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon img{
    width: 30px;
    color:white;
    /* background-color:white; */
}