@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background-color:#F6F6F8;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
footer{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
footer .foot-elem h3{
    font-size: 18px;
    font-weight: bold;
}
footer .foot-elem ul{
    margin-top: 35px;
}
footer .foot-elem ul li{
    font-size: 14px;
    color:#999999;
    line-height: 1.5;
    font-weight: 300;
    list-style-image: url(str.svg);
    margin: 12px 12px;
}
footer .foot-elem ul .one{
    list-style-image: url(1.svg);
}
footer .foot-elem ul .two{
    list-style-image: url(2.svg);
}
footer .foot-elem ul .three{
    list-style-image: url(3.svg);
}
hr{
    margin-top: 70px;
    color:#E0E0E0;
}